


.task-menu-container {
    position: fixed;
    top: 50vh;
    width: 100vw;
    height: 50vh;
    background: #FFD8B6;
}


.task-menu-delete-button {

}


.task-menu-bar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.task-menu-close-button {

}