.task-text {
    border: none;
    background: transparent;
}




.task-item {
    display: flex;
    padding: 10px;
    justify-content: left;
}

.selected-task {
    background: #eed8e1;
}


.checkbox {

}

.task-item input[type="text"] {
    font-size: 1em;
    width: 100%;
}

.hidden {
    display: none;
}
